<h1>Reports</h1>

<ul>
	<li>Number of books received: <%= @num_books %></li>
	<li>Number of books sold: <%= @num_sold %></li>
	<li>Number of books unsold: <%= @num_unsold %></li>
	<li>SOAS report: <%= link_to "CSV", :controller => 'reports', :action => 'soas_csv' %></li>
	<li><%= link_to 'Uniqnames of sellers', :controller => 'reports', :action => 'sellers' %></li>
</ul>
