<p id="notice"><%= notice %></p>

<p>
  <b>Uniqname:</b>
  <%= @person.uniqname %>
</p>

<p>
  <b>Umid:</b>
  <%= @person.umid %>
</p>

<p>
  <b>Address1:</b>
  <%= @person.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @person.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>State:</b>
  <%= @person.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @person.zip %>
</p>

<p>
  <b>Barcode:</b>
  <%= @person.barcode %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
