<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @seller.person %>
</p>

<p>
  <b>Book:</b>
  <%= @seller.book %>
</p>


<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
