	<div class="header">
		<%= link_to "Home", :controller => 'home', :action => 'index' %>
		<% if session[:admin] then %>
		| <span style="color:#C00 !important">
		DANGER ZONE:
		| <%= link_to "Books", :controller => 'books', :action => 'index' %>
		| <%= link_to "Book Data", :controller => 'data', :action => 'index' %>
		| <%= link_to "People", :controller => 'people', :action => 'index' %>
		| <%= link_to "Purchases", :controller => 'buyers', :action => 'index' %>
		| <%= link_to "Received Books", :controller => 'sellers', :action => 'index' %>
		| <%= link_to "Flags", :controller => 'flags', :action => 'index' %>
		| <%= link_to "Users", :users %>
		</span>
		<% end %>
		<% if session[:person_id] then %>
		| Current customer:
		<%= Person.find(session[:person_id]).uniqname %>
		<% end %>
	</div>

