<p id="notice"><%= notice %></p>

<p>
  <b>Uniqname:</b>
  <%= @user.uniqname %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
