<h1>Listing books</h1>

<% if @datum %>
	<p>
	  <b>Isbn:</b>
	  <%= @datum.isbn %>
	</p>
	
	<p>
	  <b>Title:</b>
	  <%= @datum.title %>
	</p>
	
	<p>
	  <b>Author:</b>
	  <%= @datum.author %>
	</p>
	
	<p>
	  <b>Edition:</b>
	  <%= @datum.edition %>
	</p>
	
	<table>
	  <tr>
	    <th>Price</th>
	    <th>Book ID</th>
	    <th>Seller UMID</th>
			<th></th>
	  </tr>

	<% @books.each do |book| %>
	  <tr>
	    <td><%= book.price if @sell_en || session[:admin] %></td>
	    <td><%= book.id %></td>
	    <td><%= book.seller.person.umid %></td>
			<% if book.buyer %>
				<td>SOLD</td>
			<% else %>

		    <td><% if params[:xact] == 'sell' %>
					<%= form_tag(buyers_sell_path) do %>
						<%= hidden_field_tag :book_id, book.id %>
						<%= submit_tag 'Sell', :confirm => 'Are you sure?' %>
					<% end %>
				<% end %></td>

			<% end %>
	  </tr>
	<% end %>
	</table>

	<br />

	<% if params[:xact] == 'recv' %>
		<%= form_tag(sellers_receive_path, :method => "get") do %>
		  <%= label_tag(:price, "Price:") %>
		  <%= text_field_tag(:price) %>
			<%= hidden_field_tag :datum_id, @datum.id %>
		  <%= submit_tag("Receive a copy of this book") %>
		<% end %>
	<% elsif params[:xact] == 'sell' %>
	<% else %>
		Go away.
	<% end %>

<% else %>

	<p style="color:red">Book not found!</p>
	<% if params[:xact] == 'recv' %>
		<%= link_to 'Add Book', new_datum_path(:isbn => params[:isbn]) %>
	<% else %>
		<p style="color:red"><big><strong>This should not be happening.</strong></big></p>
	<% end %>

<% end %>
