<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Data:</b>
  <%= @book.datum %>
	ID: <%= @book.datum.id %>
	Title: <%= @book.datum.title %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
