<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @datum.isbn %>
</p>

<p>
  <b>Title:</b>
  <%= @datum.title %>
</p>

<p>
  <b>Author:</b>
  <%= @datum.author %>
</p>

<p>
  <b>Edition:</b>
  <%= @datum.edition %>
</p>

<p>
  <b>Course:</b>
  <%= @datum.course %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
